<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) --- %yellow([%X{traceId},%X{spanId}]) : %msg%n
            </pattern>
        </encoder>
    </appender>
<!--    <appender name="OTLP" class="io.opentelemetry.exporter.logging.otlp.OtlpHttpLogRecordAppender">-->
<!--        <endpoint>http://localhost:4318/v1/logs</endpoint>-->

<!--        <attribute key="service.name">${springAppName}</attribute>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="OTLP"/>-->
    </root>
</configuration>
